<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>King Shopping</title>
</head>
<body style="user-select: none; font-family: sans-serif;">

    <table align="center" style="border-spacing: 0; min-width: 35%; max-width: 45%;">
        <thead style="background-color: #000; border-radius: 10px;">
            <tr>
                <th style="padding: 1rem 2rem; text-align: left;">
                    <img src="http://parthpateldev.ml/images/logoblue.png" alt="King Shopping Logo" style="width: 2rem; height: 2rem;">
                    <span style="font-family: 'Times New Roman', Times, serif; margin-left: .5rem; font-size: 2.5rem; color: white;">KS</span>
                </th>
                <th style="padding: .5rem 2rem; text-align: right;">
                    <div style="font-size: 1.5rem; color: #3499fe;"><span style="font-family: 'Times New Roman', Times, serif; color: white;">King</span> Shopping</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2"  style="padding: 1rem 1rem; text-align: justify; border: 1px dashed black; border-top: 0px; font-size: 1.2rem;">
                    <p>Hi,</p>
                    <p>Looks like your King Shopping account has been logged in from a new device.</p>
                    <p>If this is not you, please change your password and log out of all devices immediately.</p>
                    <p>You can do this by accessing the "My Account" section on the King Shopping by visiting <a href="#">www.kingshopping.com.</a></p>
                    <p>Thanks,</p>
                    <p>King Shopping</p>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>