<!DOCTYPE html>
<html lang="en">
<!-- {% load static %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>King Shopping Order</title>
</head>
<body style="user-select: none; font-family: sans-serif;">

    <table align="center" style="border-spacing: 0; min-width: 35%; max-width: 45%;">
        <thead style="background-color: #000; border-radius: 10px;">
            <tr>
                <th style="padding: 1rem 2rem; text-align: left;">
                    <img src="http://parthpateldev.ml/images/logoblue.png" alt="King Shopping Logo" style="width: 2rem; height: 2rem;">
                    <span style="font-family: 'Times New Roman', Times, serif; margin-left: .5rem; font-size: 2.5rem; color: white;">KS</span>
                </th>
                <th style="padding: .5rem 2rem; text-align: right;">
                    <div style="font-size: 1.5rem; color: #3499fe;"><span style="font-family: 'Times New Roman', Times, serif; color: white;">King</span> Shopping</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="padding: 1.5rem 2rem; text-align: center; border: 1px dashed black; border-bottom: 0; border-top: 0;">
                    <div style="font-size: 1.5rem; color: green; font-weight: 700;">Account Create Successfully</div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 1rem 2rem; color: red; text-align: center; font-weight: 800; border-right: 1px dashed black; border-left: 1px dashed black; ;">
                    <div style="font-size: 2rem;">123456</div>
                </td>
            </tr>
            <tr>
                <td colspan="2"  style="padding: 1rem 1rem; text-align: center; border: 1px dashed black; border-top: 0px; font-size: 1.2rem;">
                    <p>This OTP will be used for 1 minute only and 1 Time.</p>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>