<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>King Shopping</title>
</head>
<body style="user-select: none; font-family: sans-serif;">

    <table align="center" style="border-spacing: 0; min-width: 35%; max-width: 45%;">
        <thead style="background-color: #000; border-radius: 10px;">
            <tr>
                <th style="padding: 1rem 2rem; text-align: left;">
                    <img src="http://parthpateldev.ml/images/logoblue.png" alt="King Shopping Logo" style="width: 2rem; height: 2rem;">
                    <span style="font-family: 'Times New Roman', Times, serif; margin-left: .5rem; font-size: 2.5rem; color: white;">KS</span>
                </th>
                <th style="padding: .5rem 2rem; text-align: right;">
                    <div style="font-size: 1.5rem; color: #3499fe;"><span style="font-family: 'Times New Roman', Times, serif; color: white;">King</span> Shopping</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="padding: 1.5rem 2rem; text-align: center; border: 1px dashed black; border-bottom: 0; border-top: 0;">
                    <div style="font-size: 1.5rem; color: green; font-weight: 700; padding-bottom: 2rem;">2-Step Verification <span style="color: #3499fe;">turned on</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"  style="padding: 1rem 1rem; text-align: justify; border: 1px dashed black; border-top: 0px; font-size: 1.1rem;">
                    <p style="color: black; margin: .5rem 0; text-align: justify;">
                        <div style="padding: .5rem 0;">Hello {{username}}</div>
                        <div style="padding: .5rem 0;">Your Account is now protected with 2-Step Verification. When you sign in on a new or untrusted device, you'll need your second factor to verify your identity.</div>
                        <div style="padding: .5rem 0;">
                            <div style="font-weight: 600;">Don't get locked out!</div>
                            <div>You can add a backup account or get backup codes to use when you don't have your second factor with you.</div>
                        </div>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>