<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block WebTitle %}{% endblock WebTitle %} | King Shopping</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/icons/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/img/icons/favicon.ico' %}">

    <!-- MDB -->
    <link rel="stylesheet" href="{% static 'assets/css/mdb.min.css' %}">

    {% comment %} Search Bar UI CSS File {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    
    <!-- Sweetalert2 Css -->
    <link rel="stylesheet" href="{% static 'assets/css/sweetalert2.min.css' %}">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Datatable Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.css' %}">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{% static 'assets/css/sb-admin-2.min.css' %}">

</head>

<body id="page-top">

    <div id="wrapper">
        
        <!-- Content Wrapper -->
        {% include 'common/adminheaderslider.html' %}
        <!-- End of Content Wrapper -->
        
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            
            <!-- Main Content -->
            <div id="content">

                {% include 'common/adminheader.html' %}

                {% block BodyContent %}{% endblock BodyContent %}

                {% include 'common/adminfooter.html' %}

            </div>

        </div>
        
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    {% comment %} Message Box {% endcomment %}
    {% for msg in messages %}
        <div id="messagebox" class="w-auto mw-50 position-fixed bg-black d-flex align-items-center py-3 px-4 rounded z-full" style="bottom: 0; left: 50%; transform: translate(-50%, -50%); transition: all .5s linear; z-index: 1;">
            <div>
                <div class="text-white bg-{% if msg.tags == 'success' %}success{% elif msg.tags == 'warning' %}warning{% else %}danger{% endif %} rounded-circle d-flex justify-content-center align-items-center" style="width: 30px; height: 30px;">
                    <span class="{% if msg.tags == 'success' %}fas fa-check{% elif msg.tags == 'warning' %}fas fa-exclamation text-black{% else %}fas fa-times{% endif %}"></span>
                </div>
            </div>
            <div class="h6 text-white m-0 ml-4">{{msg}}</div>
        </div>
    {% endfor %}



    <!-- Include All Modals -->
    {% include 'adminmodals/logoutModal.html' %}
    {% include 'adminmodals/otpModal.html' %}
    {% include 'adminmodals/processingModal.html' %}

    {% block ModalContent %}{% endblock ModalContent %}





    <!-- JQuery Link -->
    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Bundle Link -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    {% comment %} Search Bar UI JS File {% endcomment %}
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>

    <!-- MDB -->
    <script src="{% static 'assets/js/mdb.min.js' %}"></script>


    <!-- Sweetalert2 CDN -->
    <script src="{% static 'assets/js/sweetalert2.all.min.js' %}"></script>

    
    <!-- Page level plugins -->
    <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'assets/js/demo/datatables-demo.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'assets/ckeditor/ckeditor.js' %}"></script>

    {% block dashscript %}{% endblock dashscript %}

    <!-- Custom scripts for all pages-->
    <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'assets/js/sb-adminajax.js' %}"></script>

</body>

</html>