asgiref==3.11.1
Django==4.2.11
django-ckeditor==6.7.3
django-crispy-forms==2.5
django-debug-toolbar==6.2.0
django-environ==0.13.0
django-js-asset==3.1.2
django-storages==1.14.6
djangorestframework==3.16.1
gunicorn==25.1.0
mysqlclient==2.2.8
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3
whitenoise==6.11.0
