<div class="modal fade" id="newCategory" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category</h5>
                <button type="button" class="btnmodalclose close" data-dismiss="#newCategory">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/adminsideproweb/categorys/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="form-outline my-4">
                            <input type="text" name="ncatname" id="categoryName" class="form-control" required>
                            <label class="form-label" for="categoryName">Name</label>
                        </div>
                        <div class="form-outline my-4">
                            <input type="file" name="ncatimage" class="form-control" accept=".png, .jpg, .ico" title="Category Image" required>
                        </div>
                        <div class="form-outline my-4">
                            <textarea name="ncatdescription" id="categoryDescription" rows="5" class="form-control"></textarea>
                            <label class="form-label" for="categoryDescription">Description</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>