{% comment %} Password Modal {% endcomment %}
<div class="modal fade" id="passwordModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Account Password</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="/adminsideproweb/settings/security/twostepoff/">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-outline my-2">
                        <input type="password" class="form-control" id="userloginpassword" name="userloginpassword" required autofocus autocomplete="off">
                        <label for="userloginpassword" class="form-label">Enter Your Password</label>
                        <span class="twoerror text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary" id="userpasswordbtn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>