<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotpassword-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">

                    <div class="text-center">
                        <h5>Change Your Password</h5>
                    </div>

                    <form method="POST" id="forgotaction">
                        {% csrf_token %}
                        <div class="form-group position-relative">
                            <label for="forgot-password">Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control passwordvalidation" id="forgot-password" name="forgot-password" required>
                            <div class="setconditionbox d-none position-absolute bg-white shadow-lg py-3 px-5 top-0 rounded w-100" style="right: -45rem;">
                                <div class="passlength d-flex align-items-center">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <p class="pl-3">Langth Is 8 Characture</p>
                                </div>
                                <div class="passupper d-flex align-items-center">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <p class="pl-3">1 Characture Is Upper Case</p>
                                </div>
                                <div class="passlower d-flex align-items-center">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <p class="pl-3">1 Characture Is Lower Case</p>
                                </div>
                                <div class="passnumber d-flex align-items-center">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <p class="pl-3">1 Characture Is Any Number</p>
                                </div>
                                <div class="passymbol d-flex align-items-center">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <p class="pl-3">1 Characture Is Any Symbol</p>
                                </div>
                            </div>
                        </div><!-- End .form-group -->

                        <div class="form-group">
                            <label for="renewpassword">Re - New Password<span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="renewpassword" name="forgot-repassword" required autocomplete="off">
                        </div>

                        <div class="form-footer border-0 m-0 p-0">
                            <button type="submit" class="btn btn-outline-primary-2 m-0 w-100">
                                <span>Login</span>
                            </button>
                        </div>
                    </form>
                    <div class="form-choice pt-3 text-center">
                        Not received your code?
                        <span class="resendotpbtn cursor-pointer text-primary"> Resend code</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>