<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/logout/">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                    <div class="p-5">
                        <div>
                            <h6>Are your sure you logout this session?</h6>
                        </div>
                        <div class="form-choice mt-3">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-login w-100" data-dismiss="modal">Close</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-login w-100">Logout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>