{% comment %} Order Cancel Modal {% endcomment %}
<div class="modal fade" id="orderCancelModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/orders/orderdetails/cancel/" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="canceloid" value="{{orderdata.oid}}">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                    <div class="p-5">
                        <div>
                            <h6>Do you want to cancel your item?</h6>
                        </div>
                        <div class="form-choice mt-3">
                            <button type="submit" class="btn btn-login w-100">Cancel Order</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>