<!-- OTP Modal -->
<div class="modal fade" id="otpModal" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>
                <div class="p-5">
                    <div class="pt-2">
                        <h6>Check {{login_user.email}} email address and enter OTP.</h6>
                    </div>
                    <form method="POST" id="userotpform">
                        <div class="form-group mb-1">
                            <input type="text" class="form-control" id="userotpModal" name="OTP" required autofocus maxlength="6" />
                            <span class="otperror text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-choice mt-2">
                            <div class="row">
                                <div class="col-12">
                                    <button type="button" class="otpsubmitbtn btn btn-login w-100">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>