{% extends 'common/webcommon.html' %}
{% block webtitle %} Deactive your account issues solve  {% endblock webtitle %}
{% load static %}
{% block bodycontent %}

    <div class="container my-4">
        <div class="p-4">
            <div class="p-4 w-100 h-100 d-flex justify-content-center align-items-center shadow rounded">
                <div class="w-100">
                    <div class="px-4">
                        <p>
                            King Shopping is a marketplace on which third-party sellers sell products to customers. To contact a seller, please send a letter with the below address on the envelope and include the product page URL so it can be forwarded to the seller.
                        </p>
                    </div>
                    <div class="p-4">
                        <h4>I want to contact the seller about a grievance</h4>
                    </div>
                    <div class="p-4">
                        <div class="widget widget-collapsible m-0 shadow rounded">
                            <h3 class="widget-title p-4 m-0">
                                <a data-toggle="collapse" href="#helpaddress" role="button" aria-expanded="true" aria-controls="helpaddress" class="collapsed">
                                    Click here for address
                                </a>
                            </h3>
                
                            <div class="collapse show border-top" id="helpaddress">
                                <div class="widget-body">
                                    <div class="filter-items">
                                        <div class="filter-item">
                                            <pre class="font-default m-0 pl-5 white-space-line">
                                                To,
                                                    "Include Seller's name"
                                                    Seller Mailbox: Contact Seller
                                                    c/o Flipkart Internet Private Limited,
                                                    Buildings Alyssa,Begonia & Clove,
                                                    Embassy Tech Village, Bengaluru 560103
                                                Contact: 044-66904690
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock bodycontent %}