{% extends 'common/admincommon.html' %}
{% block WebTitle %} Dashboard {% endblock WebTitle %}
{% load static %}

{% block BodyContent %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        {% comment %} <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>
            Generate Report
        </a> {% endcomment %}
    </div>

    <!-- Content Row -->
    <div class="row">

        {% comment %} Total Products {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2" title="Products">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Products
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tproducts}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-dice-d6 fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Orders {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2" title="Orders">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Orders
                            </div>
                            <div id="dashTotalOrders" class="h5 mb-0 font-weight-bold text-gray-800">{{torders}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-cart-arrow-down fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Cancel Orders {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2" title="Cancel Orders">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Cancel Orders
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div id="dashTotalCancel" class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{tcancel}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-times-circle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Replace Orders {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2" title="Replace/Return Orders">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Replace/Return Orders
                            </div>
                            <div id="dashTotalReplaceReturn" class="h5 mb-0 font-weight-bold text-gray-800">{{treplaceorder}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-undo-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Categorys {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-orange shadow h-100 py-2" title="Categorys">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-orange text-uppercase mb-1">
                                Categorys
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tcategory}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-list-ul fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Brands {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-pink shadow h-100 py-2" title="Brands">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Brands
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tbrands}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shapes fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Employees {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2" title="Employees">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                                Employees
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{temp}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-user-tie fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Total Users {% endcomment %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-purple shadow h-100 py-2" title="Users">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-purple text-uppercase mb-1">
                                Users
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{tusers}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-fw fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    {% if employee_profile.edeparements|lower == 'administrator' or employee_profile.edeparements|lower == 'hr' %}

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <div class="dropdown-item cursor-pointer fibhideshowbtn" onclick="hideshow('.fibhideshowbtn', '.ficontentbox')">Hide</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body ficontentbox">
                        <div class="chart-area">
                            <canvas id="myAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <div class="dropdown-item cursor-pointer sbhideshowbtn" onclick="hideshow('.sbhideshowbtn', '.scontentbox')">Hide</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body scontentbox">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2" title="Orders">
                                <i class="fas fa-circle text-success"></i> Orders
                            </span>
                            <span class="mr-2" title="Cancel Orders">
                                <i class="fas fa-circle text-danger"></i> Cancel
                            </span>
                            <span class="mr-2" title="Replace/Return Orders">
                                <i class="fas fa-circle text-warning"></i> Replace/Return
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {% endif %}

</div>
<!-- /.container-fluid -->

{% endblock BodyContent %}

{% block dashscript %}
    <!-- Page level plugins -->
    <script src="{% static 'assets/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'assets/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/js/demo/chart-pie-demo.js' %}"></script>
{% endblock dashscript %}