{% extends 'admincommonout.html' %}
{% load static %}
{% block WebTitle %} Forgot Password {% endblock WebTitle %}
{% block BodyOutContent %}
    <div class="container vh-100 d-flex justify-content-center align-items-center p-0">

        <!-- Outer Row -->
        <div class="row justify-content-center w-100">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row" style="height: 50vh;">
                            <div class="col-lg-6">
                                <img src="{% static 'assets/img/forgot_password.png' %}" alt="" class="w-100 h-100">
                            </div>
                            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="p-5 w-100">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Forgot Password</h1>
                                    </div>
                                    <div class="forgotEmailBox">
                                        <div class="form-outline mt-3">
                                            <input type="email" name="" id="adminemail" class="form-control" title="Email" required>
                                            <label for="email" class="form-label">Email</label>
                                        </div>
                                        <span class="forgoterror text-danger font-weight-bold"></span>
                                        <button type="button" class="adminforgotpassbtn mt-3 btn btn-outline-primary btn-block">Send OTP</button>
                                    </div>
                                    <form class="user forgotPasswordBox d-none" method="POST">
                                        {% csrf_token %}
                                        <div class="position-relative">
                                            <div class="form-outline my-3">
                                                <input type="password" name="empforgotpassword" id="password" class="form-control passwordvalidation" title="Password" required>
                                                <label for="password" class="form-label">Password</label>
                                            </div>
                                            <div class="setconditionbox d-none position-absolute bg-primary text-white shadow-lg py-3 px-4 left-0 rounded w-100" style="top: 5rem;">
                                                <div class="passlength d-flex align-items-center mb-2">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <p class="pl-3 m-0">Langth Is 8 Characture</p>
                                                </div>
                                                <div class="passupper d-flex align-items-center mb-2">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <p class="pl-3 m-0">1 Characture Is Upper Case</p>
                                                </div>
                                                <div class="passlower d-flex align-items-center mb-2">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <p class="pl-3 m-0">1 Characture Is Lower Case</p>
                                                </div>
                                                <div class="passnumber d-flex align-items-center mb-2">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <p class="pl-3 m-0">1 Characture Is Any Number</p>
                                                </div>
                                                <div class="passymbol d-flex align-items-center mb-2">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <p class="pl-3 m-0">1 Characture Is Any Symbol</p>
                                                </div>
                                            </div>
                                            <div class="form-outline my-3">
                                                <input type="password" name="empforgotrepassword" id="repassword" class="form-control" title="Re-Password" required>
                                                <label for="repassword" class="form-label">Re-Password</label>
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary btn-block">Forgot Password</button>
                                        </div>                                       
                                    </form>
                                    <hr class="mt-4">
                                    <div class="text-center">
                                        <a class="small" href="{% url 'adminlogin' %}">Allready Account?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


    {% include 'adminmodals/otpModal.html' %}
    
{% endblock BodyOutContent %}