{% extends 'common/admincommon.html' %}
{% block WebTitle %} New Product {% endblock WebTitle %}
{% load static %}
{% block BodyContent %}

<div class="container-fluid {% block categoryHide %}{% endblock categoryHide %}" id="allCategory">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Select Categorys</h6>
        </div>
        <div class="card-body">
            <div class="container-fluid p-0">
                <div class="row row-cols-6 gap p-3">

                    {% for cat in getcat %}
                        <div class="col newproduct rounded">
                            <div style="width: 100%; height: 150px;">
                                <a href="/adminsideproweb/new product/{{cat.catname}}/" class="categorybox cursor-pointer py-2 text-decoration-none w-100 h-100">
                                    <img class="categoryImg card-img-top w-100 h-100 object-fit-scale" src="{{cat.catimage.url}}" alt="{{cat.catname}}" title="{{cat.catname}}">
                                    <!-- <div class="text-center pt-3 opacity-0">Mobile</div> -->
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% block newProductsDeatils %}{% endblock newProductsDeatils %}

{% endblock BodyContent %}